# VSCode settings
.vscode/*

# Ignore __pycaches
src/__pycache__
src/tests/__pycache__

# Must generate pods locally
src/Xcode/Podfile.lock
src/Xcode/Pods/*
src/Xcode/wya.xcworkspace/*

# .DS_Stores
.DS_Store
src/.DS_Store
Xcode/.DS_Store
